*.o
*~
*.diff
*.patch
*.core
core
tags
.deps/
compat/.dirstamp
aclocal.m4
autom4te.cache/
config.log
config.status
etc/
tmux
Makefile
Makefile.in
configure
tmux.1.*
/Trace-child.out
/Trace-parent.out
/tmux-client-[0-9]*.log
/tmux-server-[0-9]*.log
/xterm.log
